h1 {
  margin: 0;
  color: #c6d8ff;
}
.App_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 50px; */
  height: 100px;
  background-color: #72195a;
}
.Main {
  margin: 100px;
}
.Article_card {
  display: flex;
  justify-content: space-between;
}
.Article_card_list {
  list-style-type: none;
}
.Select_dropdown {
  height: 30%;
  width: 150px;
  color: #72195a;
  font-size: large;
  position: relative;
}

.Votes {
  text-align: right;
  border-color: #72195a;
}
