h1 {
  margin: 0;
  color: #c6d8ff;
}
ul {
  list-style-type: none;
}

.App_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #72195a;
}
.Main {
  margin: 100px;
}
.Article_card {
  display: flex;
  justify-content: space-between;
}
.Article_card_list {
  list-style-type: none;
}
.Select_dropdown {
  height: 30%;
  width: 150px;
  color: #72195a;
  font-size: large;
  position: relative;
}

.Votes {
  text-align: right;
  border-color: #72195a;
}
.Loading_message {
  text-align: center;
}
.Article_main {
  margin: 100px;
}
.Article_section {
  color: #6b5ca5;
}
.Article_author {
  text-align: end;
}
.Article_votes {
  text-align: end;
}
.Comment_date {
  text-align: end;
}
.Comment_card {
  margin-top: 50px;
}
.Comment_author_votes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.Btn_like {
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}
.Btn_dislike {
  text-align: center;
  cursor: pointer;
}
.Btn {
  display: flex;
}
img {
  align-self: center;
  margin-left: 5px;
  border-radius: 15%;
}
.Votes_container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.AddComment_container {
  text-align: center;
  margin-top: 30px;
}
.Username_input {
  margin-bottom: 10px;
}
label {
  margin-right: 10px;
}
textarea {
  width: 50%;
  height: 200px;
}
.AddComment_btn {
  width: 100px;
}
.Username_box {
  display: flex;
  justify-content: center;
}
.Username {
  margin-right: 10px;
}
.Topics {
  width: 10%;
  font-size: large;
  cursor: pointer;
}
